<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Change Password</title>
</head>
<body>
    <h1>Change Password</h1>
    <div th:if="${error}" style="color: red;">
        <p th:text="${error}"></p>
    </div>
    <div th:if="${message}" style="color: green;">
        <p th:text="${message}"></p>
    </div>
    <form action="#" th:action="@{/users/change-password}" th:object="${changePasswordRequest}" method="post">
        <label for="username">Username:</label>
        <input type="text" id="username" th:field="*{username}" required><br><br>
        <label for="oldPassword">Old Password:</label>
        <input type="password" id="oldPassword" th:field="*{oldPassword}" required><br><br>
        <label for="newPassword">New Password:</label>
        <input type="password" id="newPassword" th:field="*{newPassword}" required><br><br>
        <label for="confirmNewPassword">Confirm New Password:</label>
        <input type="password" id="confirmNewPassword" th:field="*{confirmNewPassword}" required><br><br>
        <button type="submit">Change Password</button>
    </form>
    <p><a href="/users">Back to Users</a></p>
</body>
</html>